<launch>
  <arg name="enable_fastlio" default="false"/>
  <arg name="enable_ego_planner" default="false"/>

  <!-- Optional legacy stack -->
  <include if="$(arg enable_fastlio)" file="$(find fast_lio)/launch/mapping_mid360.launch"/>

  <!-- Depending on local package name/config, replace this include with your planner launch -->
  <include if="$(arg enable_ego_planner)" file="$(find ego_planner)/launch/single_uav.launch"/>

  <!-- New modules -->
  <include file="$(find mot_perception)/launch/mot_perception.launch"/>
  <include file="$(find traj_prediction)/launch/traj_prediction.launch"/>
  <include file="$(find mpc_controller)/launch/mpc_controller.launch"/>

  <!-- Runtime QA: topic rate watchdog -->
  <node pkg="trans_ego_integration" type="topic_rate_watchdog.py" name="topic_rate_watchdog" output="screen">
    <param name="topics" value="/dynamic_cloud,/mot_tracks,/predicted_trajectories"/>
    <param name="min_rate_hz" value="10.0"/>
    <param name="window_sec" value="2.0"/>
  </node>
</launch>
